<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Detailed Error</title>
    </head>

    <body>

        <h1 th:text="${error}">Error</h1>

        <p th:text="${error}">Some error message.</p>
        <p th:text="${message}">Some error message.</p>
        <p th:text="${path}">Some error message.</p>
        <p th:text="${status}">Some error message.</p>
        <p th:text="${#dates.format(timestamp, 'yyyy.MM.dd HH:mm')}">Some error message.</p>

    </body>

</html>