<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout">

<head>
    <title>Error Page</title>
</head>

<body>
<div layout:fragment="content">

    <div class="jumbotron">
        <h1 th:text="${errorTitle}">Error Title Text</h1>
        <p th:text="${errorMessage}">Sorry but your request could not be fully processed. Please contact the server administrator.</p>
    </div>

    <div class="row">
        <div class="col-md-12">
            <a th:href="@{/}" class="btn btn-primary">Back to Index</a>
        </div>
    </div>

</div>
</body>

</html>
