<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout">

<head>
    <title>Profile</title>
</head>

<body>
<div layout:fragment="content">

    <form th:object="${userProfDto}" name="profile" th:action="@{/profile}" class="form-signin" method="post">


        <h2 class="form-signin-heading text-center">Profile</h2>

        <!-- GLOBAL ERRORS -->
        <p th:each="error : ${#fields.globalErrors()}"
           th:text="${error}" class="alert alert-danger text-center">Global errors</p>

        <!-- STATIC FIELDS (id, email, registeredAt, roles)-->
        <p>ID: #<span class="text-center" th:text="*{id}">123</span></p>
        <p>Email: <span class="text-center" th:text="*{email}">123</span></p>
        <p>Registered: <span class="text-center" th:text="*{#dates.format(registeredAt, 'dd-MM-yyyy HH:mm')}">28-11-2018 12:45</span></p>
        <p>Roles: <span class="text-center" th:text="*{#strings.listJoin(roles, ', ')}">USER, ADMIN</span></p>

        <!-- HIDDEN FIELDS TO RETURN ALL INFO TO MODEL -->
        <input type="hidden" th:field="*{id}" />
        <input type="hidden" th:field="*{email}" />
        <input type="hidden" th:field="*{registeredAt}" />
        <input type="hidden" th:field="*{roles}" />

        <!-- INPUT / LABEL / FIELD ERRORS (givenName, middleName, familyName, office(id/name)-->
        <label for="given-name" class="sr-only">Given Name</label>
        <input th:field="*{givenName}" type="text" id="given-name" class="form-control" th:placeholder="#{label.user.givenName}"
               placeholder="Given Name" required="required" />
        <p th:each="error : ${#fields.errors('givenName')}"
           th:text="${error}" class="alert alert-danger text-center">Given name validation errors</p>

        <label for="middle-name" class="sr-only">Middle Name</label>
        <input th:field="*{middleName}" type="text" id="middle-name" class="form-control" th:placeholder="#{label.user.middleName}"
               placeholder="Middle Name"/>
        <p th:each="error : ${#fields.errors('middleName')}"
           th:text="${error}" class="alert alert-danger text-center">Middle name validation errors</p>

        <label for="family-name" class="sr-only">Family Name</label>
        <input th:field="*{familyName}" type="text" id="family-name" class="form-control" th:placeholder="#{label.user.familyName}"
               placeholder="Family Name" required="required" />
        <p th:each="error : ${#fields.errors('familyName')}"
           th:text="${error}" class="alert alert-danger text-center">Family name validation errors</p>

        <label for="office" class="sr-only">Office</label>
        <select th:field="*{officeName}" id="office" class="form-control">
            <option selected="selected" value=""> -- select an option -- </option>
            <option th:each="office : ${offices}"
                    th:selected="${userProfDto.officeName eq office.name}"
                    th:value="${office.name}"
                    th:text="${office.name}">New York
            </option>
        </select>
        <p th:each="error : ${#fields.errors('officeName')}"
           th:text="${error}" class="alert alert-danger text-center">Office name validation errors</p>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>

    </form>

</div>

</body>

</html>
