<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout">

<head>
    <title>Registration Page</title>
</head>

<body>
<div layout:fragment="content">

    <form th:object="${userRegDto}" name="login" th:action="@{/registration}" class="form-signin" method="post">


        <h2 class="form-signin-heading text-center">Registration</h2>

        <p th:each="error : ${#fields.globalErrors()}"
           th:text="${error}" class="alert alert-danger text-center">Global errors</p>

        <label for="email" class="sr-only" th:text="#{label.user.email}">Email</label>
        <input th:field="*{email}" type="email" id="email" class="form-control" th:placeholder="#{label.user.email}"
               placeholder="Email" required="required" autofocus="autofocus"/>
        <p th:each="error : ${#fields.errors('email')}"
           th:text="${error}" class="alert alert-danger text-center">Email validation errors</p>

        <label for="password" class="sr-only">Password</label>
        <input th:field="*{password}" type="password" id="password" class="form-control" th:placeholder="#{label.user.password}"
               placeholder="Password" required="required"/>
        <p th:each="error : ${#fields.errors('password')}"
           th:text="${error}" class="alert alert-danger text-center">Password validation errors</p>

        <label for="password-confirmation" class="sr-only">Password Confirmation</label>
        <input th:field="*{passwordConfirmation}" type="password" id="password-confirmation" class="form-control" placeholder="Confirm password" required="required"/>

        <label for="given-name" class="sr-only">Given Name</label>
        <input th:field="*{givenName}" type="text" id="given-name" class="form-control" th:placeholder="#{label.user.givenName}"
               placeholder="Given Name" required="required" />
        <p th:each="error : ${#fields.errors('givenName')}"
           th:text="${error}" class="alert alert-danger text-center">Given name validation errors</p>

        <label for="middle-name" class="sr-only">Middle Name</label>
        <input th:field="*{middleName}" type="text" id="middle-name" class="form-control" th:placeholder="#{label.user.middleName}"
               placeholder="Middle Name"/>
        <p th:each="error : ${#fields.errors('middleName')}"
           th:text="${error}" class="alert alert-danger text-center">Middle name validation errors</p>

        <label for="family-name" class="sr-only">Family Name</label>
        <input th:field="*{familyName}" type="text" id="family-name" class="form-control" th:placeholder="#{label.user.familyName}"
               placeholder="Family Name" required="required" />
        <p th:each="error : ${#fields.errors('familyName')}"
           th:text="${error}" class="alert alert-danger text-center">Family name validation errors</p>

        <!--<div class="checkbox">
            <label>
                <input type="checkbox" value="newsletter"/> Sign me up for newsletter.
            </label>
        </div>-->

        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>

    </form>

</div>

</body>

</html>
