<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout">

<head>
    <title>Index</title>
</head>

<body>
<div layout:fragment="content">

    <div class="jumbotron">
        <h1>Users Page</h1>
        <p>Browsing through all the users.</p>
    </div>

    <div class="page-header">
        <h2>Users List</h2>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Email</th>
                        <th>Name</th>
                        <th>City</th>
                        <th>Registered</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="user : ${users}">
                        <td th:text="${user.id}">123</td>
                        <td th:text="${user.email}">johndoe@gmail.com</td>
                        <td th:text="${user.name}">John Doe</td>
                        <td th:text="${user.city}">New York</td>
                        <td th:text="${#dates.format(user.registeredAt, 'dd-MM-yyyy HH:mm')}">28-11-2018 12:45</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
</body>

</html>