<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorator="layout">

<head>
    <title>Users Page</title>
</head>

<body>
<div layout:fragment="content">

    <div class="jumbotron">
        <h1>Users Page</h1>
        <p>Browsing through all the users.</p>
    </div>

    <div class="page-header">
        <h2>Users List</h2>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p th:if="${#lists.isEmpty(users)}">
                There are no users available for display.
            </p>
            <table class="table table-striped" th:unless="${#lists.isEmpty(users)}">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Email</th>
                    <th>Name</th>
                    <th>City</th>
                    <th>Registered</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="user : ${users}" class="user-row-clickable" th:attr="data-href=${'user/' + user.id}">
                    <td th:text="${user.id}">123</td>
                    <td th:text="${user.email}">johndoe@gmail.com</td>
                    <td th:text="${user.name}">John Doe</td>
                    <td th:text="${user.city == null ? 'N/A' : user.city}">New York</td>
                    <td th:text="${#dates.format(user.registeredAt, 'dd-MM-yyyy HH:mm')}">28-11-2018 12:45</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>
</body>

</html>